<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view>
  <ion-header-bar class="bar bar-positive bar-header" align-title="center" no-tap-scroll="true">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons"></span>
    </div>
    <div class="bar bar-header bar-positive header-item">Welcome</div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons"></span>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item item-icon-left">
        <i class="icon ion-person"/>
        <h3>Profile</h3>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
