<ion-view  view-title="点菜服务">
  <ion-content class="dish-category">
      <ul>
        <li>
          <span class="icon"><i class="iconfont">&#xe610;</i></span>
          <span class="title">冷饮</span>
          <span class="sub-title">Espresso</span>
          <i class="flag">1</i>
        </li>
        <li class="active">
          <span class="icon"><i class="iconfont">&#xe606;</i></span>
          <span class="title">咖啡/茶饮</span>
          <span class="sub-title">Coffee/Tea</span>
          <i class="flag">2</i>
        </li>
        <li>
          <span class="icon"><i class="iconfont">&#xe607;</i></span>
          <span class="title">美食</span>
          <span class="sub-title">Food</span>
        </li>
        <li>
          <span class="icon"><i class="iconfont">&#xe610;</i></span>
          <span class="title">冷饮</span>
          <span class="sub-title">Espresso</span>
          <i class="flag">1</i>
        </li>
        <li class="active">
          <span class="icon"><i class="iconfont">&#xe606;</i></span>
          <span class="title">咖啡/茶饮</span>
          <span class="sub-title">Coffee/Tea</span>
          <i class="flag">2</i>
        </li>
        <li>
          <span class="icon"><i class="iconfont">&#xe607;</i></span>
          <span class="title">美食</span>
          <span class="sub-title">Food</span>
        </li>
        <li>
          <span class="icon"><i class="iconfont">&#xe610;</i></span>
          <span class="title">冷饮</span>
          <span class="sub-title">Espresso</span>
          <i class="flag">1</i>
        </li>
        <li class="active">
          <span class="icon"><i class="iconfont">&#xe606;</i></span>
          <span class="title">咖啡/茶饮</span>
          <span class="sub-title">Coffee/Tea</span>
          <i class="flag">2</i>
        </li>
        <li>
          <span class="icon"><i class="iconfont">&#xe607;</i></span>
          <span class="title">美食</span>
          <span class="sub-title">Food</span>
        </li>
        <li>
          <span class="icon"><i class="iconfont">&#xe610;</i></span>
          <span class="title">冷饮</span>
          <span class="sub-title">Espresso</span>
          <i class="flag">1</i>
        </li>
        <li class="active">
          <span class="icon"><i class="iconfont">&#xe606;</i></span>
          <span class="title">咖啡/茶饮</span>
          <span class="sub-title">Coffee/Tea</span>
          <i class="flag">2</i>
        </li>
        <li>
          <span class="icon"><i class="iconfont">&#xe607;</i></span>
          <span class="title">美食</span>
          <span class="sub-title">Food</span>
        </li>
        <a href="#/tab/service/dish-confirm">确认订单</a>
      </ul>
  </ion-content>
  <ion-content class="dish-content">
    <ul class="list">
      <li class="item item-thumbnail-left">
        <img src="" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
      <li class="item item-thumbnail-left">
        <img src="" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
      <li class="item item-thumbnail-left">
        <img src="" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
      <li class="item item-thumbnail-left">
        <img src="" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
      <li class="item item-thumbnail-left">
        <img src="" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
      <li class="item item-thumbnail-left">
        <img src="" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
      <li class="item item-thumbnail-left">
        <img src="" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
      <li class="item item-thumbnail-left">
        <img src="" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
    </ul>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-clear">Left</button>
    <div class="title">Title</div>
    <button class="button button-clear">Right</button>
  </div>
</ion-view>
