<ion-view  view-title="点菜服务">
  <ion-content class="dish-category">
      <ul>
        <li class="dish-category-item">
          <span class="icon"><i class="iconfont">&#xe610;</i></span>
          <span class="title">冷饮</span>
          <i class="flag">9</i>
        </li>
        <li class="dish-category-item active">
          <span class="icon"><i class="iconfont">&#xe610;</i></span>
          <span class="title">很好吃的冷饮</span>
          <i class="flag">9</i>
        </li>
        <li class="dish-category-item">
          <span class="icon"><i class="iconfont">&#xe610;</i></span>
          <span class="title">冷饮</span>
        </li>
        <li class="dish-category-item">
          <span class="icon"><i class="iconfont">&#xe610;</i></span>
          <span class="title">冷饮</span>
        </li>
        <li class="dish-category-item">
          <span class="icon"><i class="iconfont">&#xe610;</i></span>
          <span class="title">冷饮</span>
        </li>
        <li class="dish-category-item">
          <span class="icon"><i class="iconfont">&#xe610;</i></span>
          <span class="title">冷饮</span>
          <i class="flag">1</i>
        </li>
      </ul>
  </ion-content>
  <ion-content class="dish-content">
    <ul class="list">
      <li class="item item-divider">
        咖啡
      </li>
      <li class="item item-thumbnail-left">
        <img src="../../img/default-avatar.jpg" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
        <div class="quantity-controller">
          <span class="btn-increase"><i class="iconfont">&#xe646;</i></span>
          <input class="quantity" type="text">
          <span class="btn-reduce"><i class="iconfont">&#xe647;</i></span>
        </div>
      </li>
      <li class="item item-thumbnail-left">
        <img src="../../img/default-avatar.jpg" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
      <li class="item item-thumbnail-left">
        <img src="../../img/default-avatar.jpg" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
      <li class="item item-thumbnail-left">
        <img src="" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
      <li class="item item-thumbnail-left">
        <img src="" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
      <li class="item item-thumbnail-left">
        <img src="" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
      <li class="item item-thumbnail-left">
        <img src="" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
      <li class="item item-thumbnail-left">
        <img src="" alt="">
        <h2>碎猪肉片</h2>
        <p>$18.00</p>
      </li>
    </ul>
  </ion-content>
  <div class="bar bar-footer bar-dark dish-footbar">
    <div class="title"><span class="dish-cart"><i class="iconfont">&#xe612;</i></span>$213.00</div>
    <button class="button button-assertive">去结算</button>
  </div>
</ion-view>
