<ion-view hide-tabs view-title="提交订单">
  <ion-content class="order-confirm">
    <div class="address">
      <div class="address-info">
        <span>邬羽扬<i>先生</i>18914999600</span>
        <span>樾阁花园18#501</span>
      </div>
      <div></div>
    </div>

    <ion-list>
<!--      <ion-item class="item-divider">
        会员功能
      </ion-item>-->
      <ion-item ng-click="test()">
        我的订单
        <span ng-if="firstNum > 0" class="badge badge-assertive">{{firstNum}}</span>
      </ion-item>
      <ion-item>
        我的交易
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon iconfont assertive">&#xe633;</i>
        我的收藏

      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon iconfont calm">&#xe618;</i>
        我的会员卡
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon iconfont balanced">&#xe635;</i>
        我的优惠券
        <span class="badge badge-assertive">10</span>
      </ion-item>
    </ion-list>

    <ion-checkbox ng-model="isChecked">
      asdfasdf12312
    </ion-checkbox>

    <ion-list>

<!--      <ion-item class="item-divider">
        会员功能
      </ion-item>-->
      <ion-item ng-click="showLoading">
        我的订单
        <span class="badge badge-assertive">0</span>
      </ion-item>
      <ion-item ng-click="hideLoading">
        我的交易
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon iconfont assertive">&#xe633;</i>
        我的收藏
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon iconfont calm">&#xe618;</i>
        我的会员卡
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon iconfont balanced">&#xe635;</i>
        我的优惠券
        <span class="badge badge-assertive">10</span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
