<ion-view view-title="点菜" class="app-menu">
  <ion-content scroll="false">
    <ion-scroll class="app-menu-category">
      <ul>
        <li>
          <span class="icon"><i class="iconfont">&#xe610;</i></span>
          <span class="title">冷饮</span>
          <span class="sub-title">Espresso</span>
          <i class="flag">1</i>
        </li>
        <li class="active">
          <span class="icon"><i class="iconfont">&#xe606;</i></span>
          <span class="title">咖啡/茶饮</span>
          <span class="sub-title">Coffee/Tea</span>
          <i class="flag">2</i>
        </li>
        <li>
          <span class="icon"><i class="iconfont">&#xe607;</i></span>
          <span class="title">美食</span>
          <span class="sub-title">Food</span>
        </li>
      </ul>
    </ion-scroll>
    <ion-scroll class="app-menu-content">
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
      1<br>
    </ion-scroll>
  </ion-content>

</ion-view>
