.am-header-default {
  background-color: #cd2c30;
}

.product-desc {
  color: #666;
  font-size: 1.2rem;
  padding: 1rem;
}

.product-col {
  padding: 1rem;
}

.product-title {
  color: #cd2c30;
  font-weight: 600;
}

.product-content {
  color: #333;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.product-content .list-title {
  list-style: none;
  font-weight: 600;
}

.product-content .list-title-sub {
  list-style: none;
  text-indent: 1rem;
}

.product-image {
  text-align: center;
}

.product-image img {
  width: 90%;
}

.table-divider {
  font-weight: 600;
  background-color: #f9f9f9;
}

.table-b {
  font-weight: 600;
}

.table-center {
  text-align: center;
}

.table-desc {
  font-size: 1.2rem;
  color: #999;
}

.am-table {
  margin-bottom: 0;
}

.ul-nopadding {
  padding: 0;
  margin: 0;
}

.back-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.am-btn-default {
  background: #cd2c30;
  color: #FFF;
}

body {
  padding-bottom: 5rem;
}
