<ion-view hide-tabs view-title="appointment-list">
  <ion-content class="order-list">
    <div class="list list-inset">
      <div class="card" ng-click="showDetail()">
        <div class="item item-divider">
          <h4>订单编号：17003628<span class="order-time">2016-01-07 12:35</span></h4>
        </div>
        <div class="item item-text-wrap">
          <h2 class="order-title">辛香汇（金鹰店）</h2>
          <span class="order-cate">预定，小桌，01月21日18:00</span>
        </div>
        <div class="item item-divider">
          <span class="order-status">已受理</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
