<ion-view hide-tabs view-title="appointment-detail">
    <ion-content class="stable-bg">
      <ion-list>
        <ion-item class="item-divider">
          店家信息
        </ion-item>
        <ion-item class="item-icon-right">
          辛香汇（金鹰店）
          <i class="icon ion-ios-telephone"></i>
        </ion-item>
        <ion-item class="item-icon-right">
          昆山市前进东路1008号
          <i class="icon ion-location"></i>
        </ion-item>
        <ion-item class="item-divider">订单信息</ion-item>
        <ion-item><span class="item-left-label">订单编号:</span>168264</ion-item>
        <ion-item><span class="item-left-label">下单时间:</span>2015-12-12</ion-item>
        <ion-item><span class="item-left-label">订单内容:</span>预定，小桌，01月21日18:00</ion-item>
        <ion-item><span class="item-left-label">就餐人数:</span>2人</ion-item>
        <ion-item class="item-divider">联系信息</ion-item>
        <ion-item><span class="item-left-label">联系姓名:</span>乌鸦</ion-item>
        <ion-item><span class="item-left-label">联系电话:</span>18914999600</ion-item>
      </ion-list>

      <button class="button button-full button-stable">
        退订
      </button>
    </ion-content>
</ion-view>
