<ion-view view-title="会员中心">
  <ion-content class="account">
    <div class="account-header">
      <div class="avatar"><img src="/img/default-avatar.jpg" alt=""></div>
      <div class="username">乌鸦0508
        <!--<i class="vip1">VIP1</i>-->
      </div>
    </div>
    <div class="account-status">
      <div class="status-info" ng-click="test()">
        <div class="status-content">
          <span class="info-title">余额</span>
          <span class="info-value">10.00</span>
        </div>
      </div>
      <div class="status-info" ng-click="test()">
        <div class="status-content">
          <span class="info-title">优惠券</span>
          <span class="info-value">5</span>
        </div>
      </div>
      <div class="status-info" ng-click="test()">
        <div class="status-content">
          <span class="info-title">积分</span>
          <span class="info-value">1000</span>
        </div>
      </div>
    </div>

    <ion-list>
      <ion-item class="item-icon-left" ng-click="goUrl('tab.order-list')">
        <i class="icon iconfont">&#xe629;</i>
        我的订单
      </ion-item>
      <ion-item class="item-icon-left" ng-click="goUrl('tab.appointment-list')">
        <i class="icon iconfont">&#xe62c;</i>
        我的预约
      </ion-item>
      <ion-item class="item-icon-left" ng-click="goUrl('tab.collection-list')">
        <i class="icon iconfont">&#xe633;</i>
        我的收藏
      </ion-item>
      <ion-item class="item-icon-left" ng-click="goUrl('test2')">
        <i class="icon iconfont">&#xe618;</i>
        会员卡
      </ion-item>
      <ion-item class="item-icon-left" ng-click="goUrl('dish.test')">
        <i class="icon iconfont">&#xe635;</i>
        优惠券
        <span class="badge badge-assertive">10</span>
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
